.DS_Store
node_modules
/dist
package-lock.json

# package
/package/dist
/package/bin
/package/mynote-win32-x64
/package/zip

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# php
/service/api/php/vendor
/service/api/php/composer.lock

# golang
/service/api/golang/go.sum

# python
/service/api/python/mongo-connector

# aardio
/webview/*
!*/readme.md

# backup file
/docs/backup