@charset "utf-8";

.page-swiper,
.container-wrap {
    padding: 10px 40px;
}

.page-header {
    margin-bottom: 10px;
}

.page-header h2 {
    border-bottom: 1px solid #ddd;
    font-size: 24px;
    font-weight: 500;
    color: #333;
    padding-bottom: 10px;
}

#header_item {
    width: 100%;
    min-width: 1140px;
    background: #f9f9f9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    position: relative;
}

#header_index {
    width: 1140px;
    margin: 0 auto;
    height: 80px;
    line-height: 80px;
}

#header-l {
    float: left;
    height: 80px;
}

#header_item .logo {
    float: left;
    height: 80px;
}

#header_item .logo img {
    display: block;
    /* width: 206px; */
    height: 36px;
    margin: 22px 0;
}

.header-menu {
    float: left;
    margin: 0 0 0 10px;
}

.header-menu li {
    float: left;
    position: relative;
    margin: 0 5px;
}

.header-menu li a {
    display: inline;
    padding: 8px 3px;
    font-size: 16px;
    color: #666;
}

.header-menu li a:hover,
.header-menu li a.active {
    color: #fe6a00;
}

.header-menu-vip {
    position: relative;
}

.hot-icon {
    position: absolute;
    top: -4px;
    right: -24px;
    z-index: 1;
    padding: 2px 4px;
    border-radius: 4px;
    background-color: #ff3c1a;
    color: #fff;
    font-size: 12px;
    font-style: normal;
    line-height: 1;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
}

.hot-icon:before {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 15%;
    border: 5px solid transparent;
    border-top-color: #ff3c1a;
}

#header-r .dropdown-content {
    position: absolute;
    left: -60px;
    top: 80%;
    width: 150px;
    z-index: 1200;
    background-color: #fff;
    margin: 0;
    padding: 9px 0;
    border: 1px solid #eee;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    float: none;
}

#header-r .dropdown-content a {
    display: inline-block;
    width: 120px;
    background-color: #fff;
    padding: 0;
    font-size: 15px;
    color: #333;
    text-align: left;
}

#header-r .dropdown-content .j {
    position: absolute;
    left: 50%;
    top: -16px;
    margin-left: -8px;
    display: block;
}

#header-r .dropdown-content .j::before,
#header-r .dropdown-content .j::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-width: 8px;
    border-style: solid;
    position: absolute;
    left: 0;
    top: 0;
}

#header-r .dropdown-content .j::before {
    border-color: transparent transparent #ddd transparent;
}

#header-r .dropdown-content .j::after {
    border-color: transparent transparent #fff transparent;
    top: 1px;
}

#header-l .dropdown-content {
    display: none;
    top: 60px;
    left: -25px;
    width: 235px;
    line-height: 0;
}

#header-l .dropdown:hover .dropdown-content {
    display: block;
}

#header-l .dropdown-content a {
    width: 100px;
    padding: 0 0 0 10px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    font-size: 15px;
    color: #333;
    text-align: center;
}

#header-l .dropdown-content a:hover {
    color: #fe6a00;
}

#header-l .dropdown-content a:first-child::before {
    border-bottom: 8px solid #fff;
    border-left: 8px solid rgba(255, 255, 255, 0);
    border-right: 8px solid rgba(255, 255, 255, 0);
    top: -8px;
    content: "";
    width: 0;
    height: 0;
    left: 45%;
    margin-left: -50px;
    position: absolute;
}

#header-r {
    float: right;
    height: 80px;
}

#header_index .searchbox {
    float: right;
    position: relative;
    width: 300px;
    height: 35px;
    line-height: 35px;
    margin-top: 22px;
    background: #EFEFEF;
    border-radius: 4px;
}

#header_index .searchbox input.box {
    width: 119px;
    height: 35px;
    line-height: 35px;
    background: #EFEFEF;
    font-size: 14px;
    color: #333;
    border: none;
    padding: 0 8px;
}

#header_index .searchbox input.box:hover {
    background-color: #f3f3f3;
}

#header_index .searchbox .button {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    border: none;
    background: url("../images/icons.png") no-repeat scroll 0px 3px;
    text-indent: -9999px;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 99;
    overflow: hidden;
    background-color: transparent;
    transition: height 0.24s ease;
}

.dropdown-inner {
    position: relative;
    margin: 12px 4px 4px;
    background-color: #fff;
    box-shadow: 0 1px 4px #aaa;
    border-radius: 4px;
}

.dropdown-inner::before {
    content: "";
    position: absolute;
    top: -6px;
    right: 50%;
    z-index: 1;
    width: 16px;
    height: 16px;
    background-color: #fff;
    box-shadow: -2px -2px 4px #ddd;
    -webkit-transform: translateX(50%) rotate(45deg);
    -moz-transform: translateX(50%) rotate(45deg);
    -ms-transform: translateX(50%) rotate(45deg);
    transform: translateX(50%) rotate(45deg);
}

.dropdown-content {
    position: relative;
    z-index: 2;
    overflow: hidden;
    background-color: #fff;
    border-radius: 4px;
}

.h-right {
    margin-top: 22px;
    font-size: 14px;
    line-height: 36px;
}

.h-right .link {
    padding: 0 8px;
}

.h-right .mobile {
    position: relative;
    margin-right: 24px;
}

.h-right .mobile .link {
    display: block;
}

.h-right .mobile .i-icon {
    margin-right: 3px;
    font-size: 22px;
    color: #fe6a00;
}

.h-right .mobile .dropdown {
    width: 178px;
    height: 0;
    right: -48px;
}

.h-right .mobile:hover .dropdown {
    height: 204px;
}

.h-right .mobile .dropdown-content {
    padding: 0 10px;
}

.h-right .mobile .dropdown-content .qrcode {
    margin: 8px 0 12px;
}

.h-right .mobile .dropdown-content .qrcode>p {
    margin: 4px 0 0;
    padding: 0;
    font-size: 14px;
    line-height: 1;
}


.site-userInfo .i-icon {
    color: #777;
}

.site-userInfo .notice .i-icon {
    font-size: 18px;
}

.site-userInfo .notice .badge {
    margin-left: 4px;
    padding: 0 6px;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    border-radius: 8px;
    background-color: #999;
}

.site-userInfo .notice .badge.danger {
    background-color: #fe6a00;
}

.site-userInfo .user {
    position: relative;
    cursor: pointer;
}

.site-userInfo .user-avatar>.img {
    border-radius: 50%;
}

.site-userInfo .user-vip {
    padding: 0;
}

.site-userInfo .user .dropdown {
    width: 104px;
    height: 0;
}

.site-userInfo .user:hover .dropdown {
    height: 144px;
}

.site-userInfo .user .dropdown-content a {
    display: block;
    line-height: 32px;
    transition: background-color .24s ease, color .24s ease;
}

.site-userInfo .user .dropdown-content .i-icon {
    margin-right: 6px;
    font-size: 14px;
    vertical-align: baseline;
    -webkit-transition: color .24s ease;
    transition: color .24s ease;
}

.site-userInfo .user .dropdown-content a:hover {
    background-color: #f5f5f5;
}

.site-userInfo .user .dropdown-content a:hover .i-icon {
    color: #fe6a00;
}

/* header2 */
.header-with-search .h-right .mobile {
    margin-right: 0;
}


/* ----------------------------------- footer -----------------------------------*/
#footer_item {
    width: 100%;
    min-width: 1140px;
    background: #efefef;
    border-top: 1px solid #ccc;
    padding: 20px 0;
}

#footer {
    clear: both;
    position: relative;
    margin: 0 auto;
    width: 1140px;
    height: auto;
    overflow: hidden;
}

.footer-box {
    float: left;
    width: 15.5%;
    margin-left: 1%;
    text-align: left;
}

.footer-title {
    font-size: 15px;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
    line-height: 30px;
}

.footer-items a,
.footer-items p {
    line-height: 26px;
    font-size: 14px;
    color: #333;
}

.footer-items p {
    margin: 0;
}

.footer-items a .service-qrcode {
    display: none;
    width: 100px;
    position: absolute;
    top: 8px;
    margin-left: 50px;
}

.footer-items a:hover .service-qrcode {
    display: block;
}

.footer-box .tcode {
    width: 100px;
    height: 100px;
    margin: 10px auto;
}

.footer-box .tcode-txt {
    font-size: 14px;
    color: #333;
    text-align: center;
    margin: 0 10px;
}

.footer-bottom {
    margin: 0px auto;
    width: 1140px;
    padding: 10px 0 0;
    text-align: center;
    line-height: 30px;
}

.footer-bottom p {
    font-size: 13px;
    color: #666;
    padding: 0;
    margin: 0;
}

.footer-bottom p a {
    color: #666;
}

.footer-bottom p span {
    margin: 0 5px;
}

.footer-bottom .beian {
    background: url(../images/beianicon.png) no-repeat 0 0;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-size: cover;
    display: inline-block;
    margin-right: 4px;
    margin-top: -4px;
}

#footer a:hover {
    text-decoration: underline;
    color: #fe6a00;
}

/** 顶部banner*/
#topbanner {
    position: relative;
    width: 100%;
    min-width: 1140px;
    max-width: 2560px;
    height: 40px;
    overflow: hidden;
    background: #f9f9f9;
    cursor: pointer;
}

#topbanner img {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    max-width: none;
}

#topbanner .close-topbox {
    position: absolute;
    top: 10px;
    right: 18%;
    cursor: pointer;
}

#topbanner .close-topbox i {
    font-size: 18px;
    color: #fff;
    opacity: .9;
}

@media (max-width:1024px) {
    #topbanner {
        display: none !important;
    }
}

/** element ui*/

/** app */
.app-container {
    max-width: 750px;
    margin: 0 auto;
}